@import "./colors";

#container-projects {
  grid-area: site-projects;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-chika {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 0;
    z-index: 3;

    width: auto;
    height: 12rem;
    justify-content: space-between;

    img {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

  .content-projects {
    width: 100%;
    height: auto;

    display: grid;
    grid-template-areas: "aside projects";
    grid-template-columns: 28rem 1fr;
    grid-template-rows: 1fr;

    .container-aside {
      grid-area: aside;
      display: flex;
      justify-content: center;

      aside {
        background: $bgcolor;
        width: 70%;
        height: 20rem;
        margin-top: 5rem;
        position: sticky;
        top: 5rem;
        border-radius: 1rem;

        .tittle {
          text-align: center;
          color: $txtWhite;
          font-weight: 600;
          font-size: 1.3rem;
          text-transform: uppercase;
        }

        .indices {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;
          width: 100%;
          height: 70%;

          a {
            text-align: center;
            line-height: 2rem;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 400;
            color: $txtIndices;
            padding-left: 3rem;
          }
        }
      }
    }

    .container-project {
      grid-area: projects;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      padding: 5rem 0;

      .content-project {
        width: 50%;
        height: auto;
        padding-top: 5rem;
        border-bottom: 1px solid #333;

        display: grid;
        grid-template-areas:
          "tittle img"
          "desc img";
        grid-template-columns: 1fr 1fr;

        .tittle {
          grid-area: tittle;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }

        .container-span {
          grid-area: desc;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          span {
            font-weight: 400;
            text-align: justify;
            padding: 1rem;
            font-style: italic;
          }

          .desc {
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
              text-align: end;
            }
          }
        }

        .project-img {
          grid-area: img;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 95%;
            height: 90%;
            object-fit: cover;
            border-radius: 1.2rem;
            margin: 1.5rem 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container-project {
    .content-project {
      width: 45% !important;

      grid-template-areas:
        "tittle tittle"
        "desc desc"
        "img img" !important;

      grid-template-rows: 4rem 1fr 10rem;
    }
  }
}

@media (max-width: 1200px) {
  .content-projects {
    grid-template-columns: 25rem 1fr !important;
  }
}

@media (max-width: 990px) {
  .content-projects {
    grid-template-areas:
      "aside"
      "projects" !important;

    grid-template-columns: 1fr !important;
    grid-template-rows: 15rem 1fr !important;

    .container-aside {
      grid-area: aside;

      aside {
        width: 100% !important;
        height: 100% !important;
        margin-top: 0 !important;
        position: static !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;

        .tittle {
          text-align: start !important;
          margin-left: 2rem;
        }
      }
    }

    .content-project {
      width: 75% !important;
      grid-template-areas:
        "tittle img"
        "desc img" !important;
      grid-template-columns: 1fr 1fr !important;
      grid-template-rows: 1fr !important;
    }
  }
}

@media (max-width: 680px) {
  .container-project {
    .content-project {
      width: 75% !important;

      grid-template-areas:
        "tittle tittle"
        "desc desc"
        "img img" !important;

      grid-template-rows: 4rem 1fr 10rem;
    }
  }
}
